USE [master]
GO
/****** Object:  Database [RehberDB]    Script Date: 28.03.2019 21:55:30 ******/
CREATE DATABASE [RehberDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RehberDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\RehberDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'RehberDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\RehberDB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RehberDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RehberDB]
GO
/****** Object:  Table [dbo].[Departman]    Script Date: 28.03.2019 21:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departman](
	[dprid] [int] IDENTITY(1,1) NOT NULL,
	[dprAd] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[dprid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kullanıcı]    Script Date: 28.03.2019 21:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanıcı](
	[kId] [int] IDENTITY(1,1) NOT NULL,
	[kAdi] [nvarchar](20) NULL,
	[kSifre] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[kId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Personel]    Script Date: 28.03.2019 21:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personel](
	[pid] [int] IDENTITY(1,1) NOT NULL,
	[pAd] [nvarchar](50) NULL,
	[pSoyad] [nvarchar](50) NULL,
	[pTelNo] [nvarchar](11) NULL,
	[yonetici] [nvarchar](50) NULL,
	[dprFk] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Departman] ON 

INSERT [dbo].[Departman] ([dprid], [dprAd]) VALUES (45, N'Üretim')
INSERT [dbo].[Departman] ([dprid], [dprAd]) VALUES (46, N'Bilgi İşlem')
INSERT [dbo].[Departman] ([dprid], [dprAd]) VALUES (47, N'İnsan Kaynakları')
SET IDENTITY_INSERT [dbo].[Departman] OFF
SET IDENTITY_INSERT [dbo].[Kullanıcı] ON 

INSERT [dbo].[Kullanıcı] ([kId], [kAdi], [kSifre]) VALUES (1, N'admin', N'1234')
SET IDENTITY_INSERT [dbo].[Kullanıcı] OFF
SET IDENTITY_INSERT [dbo].[Personel] ON 

INSERT [dbo].[Personel] ([pid], [pAd], [pSoyad], [pTelNo], [yonetici], [dprFk]) VALUES (64, N'Emre', N'Sert', N'05532902294', NULL, 45)
INSERT [dbo].[Personel] ([pid], [pAd], [pSoyad], [pTelNo], [yonetici], [dprFk]) VALUES (66, N'Ahmet', N'Yiğit', N'05532902294', N'Emre', 46)
INSERT [dbo].[Personel] ([pid], [pAd], [pSoyad], [pTelNo], [yonetici], [dprFk]) VALUES (68, N'Sedat', N'Aygün', N'05532902294', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Personel] OFF
ALTER TABLE [dbo].[Personel]  WITH CHECK ADD  CONSTRAINT [FK_Personel_Departman] FOREIGN KEY([dprFk])
REFERENCES [dbo].[Departman] ([dprid])
GO
ALTER TABLE [dbo].[Personel] CHECK CONSTRAINT [FK_Personel_Departman]
GO
USE [master]
GO
